.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.jcs {
    justify-content: start;
}

.jce {
    justify-content: end;
}

.ali-c {
    align-items: center;
}

.pb-6 {
    padding-bottom: 130px;
}

.nowrap {
    white-space: nowrap;
}

.text-c {
    text-align: center;
}

.text-s {
    text-align: left;
}

.text-e {
    text-align: right;
}

.overflow {
    overflow: hidden;
}

.fsz-12 {
    font-size: 12px;
}

.fsz-14 {
    font-size: 14px;
}

.fsz-18 {
    font-size: 18px;
}

.fsz-24 {
    font-size: 24px;
}

.fsz-32 {
    font-size: 32px;
}

.fw-bold {
    font-weight: bold;
}

.boder-bottom {
    border-bottom: 1px solid white;
}